@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes animate-ping-slow {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Change navigation color */
.swiper-button-prev,
.swiper-button-next {
  color: #257378 !important;
  /* Change this to the desired color */
}

/* Change navigation hover color */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #165256 !important;
  /* Change this to the desired hover color */
}


/* Change pagination color */
.swiper-pagination {
  color: #257378 !important;
  /* Change this to the desired color */
}

/* Change pagination bullet color */
.swiper-pagination-bullet {
  background-color: #257378 !important;
  /* Change this to the desired color */
}

/* Change pagination bullet active color */
.swiper-pagination-bullet-active {
  background-color: #257378 !important;
  /* Change this to the desired color */
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.Toastify__progress-bar--success { background-color: green; }
.Toastify__progress-bar--error { background-color: rgb(145, 58, 58); }
.Toastify__progress-bar--warning { background-color: orange; }
.Toastify__progress-bar--info { background-color: blue; }

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #257378; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.postionElement{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wrapper-1 {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.wrapper-2 {
  padding: 30px;
  text-align: center;
}

.thankYouH1 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 4em;
  letter-spacing: 3px;
  color: #257378;
  margin: 0;
  margin-bottom: 20px;
}

.wrapper-2 p {
  margin: 0;
  font-size: 1.2em;
  color: #686868;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

.go-home {
  color: #fff;
  background: #257378;
  border: none;
  padding: 10px 50px;
  margin: 30px 0;
  border-radius: 30px;
  text-transform: capitalize;
  box-shadow: 0 10px 16px 1px rgb(174, 246, 251);
}


@media (min-width:360px) {
  .thankYouH1 {
    font-size: 4.5em;
  }

  .go-home {
    margin-bottom: 20px;
  }
}

@media (min-width:600px) {
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }

  .wrapper-1 {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 210, 255, 0.2);
  }

}